body {
    background: grey;
    color: whitesmoke;
    
}
.changes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#générer {
    padding: 30px 100px;
    
}